@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

:root {
  --fs-900: 3.5rem;
  --fs-600: 1.25rem;
  --fs-400: 1.4rem;
}

html {
  font-size: 12px;
}

body {
  font-family: 'League Spartan', sans-serif;
}

h1,
.h1 {
  font-size: var(--fs-900);
  font-weight: 600;
  line-height: 1;
  letter-spacing: -2px;
}
h2,
.h2 {
  font-size: var(--fs-600);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 6px;
}

p {
  font-size: var(--fs-400);
}
