.hero {
  &_img {
    height: 360px;

    background-image: url(../images/mobile-image-hero-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
