.hero {
  &_img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &_text-content {
    margin-block: 6rem;
  }

  &_img,
  &_text-content {
    transition: opacity 0.5s ease-in-out;
  }

  &_link {
    position: relative;
    display: inline-block;
    margin-top: 2.5rem;
    z-index: 5;

    font-size: var(--fs-700);
    font-weight: 700;
    letter-spacing: 16px;

    color: $Black;
    text-decoration: none;
    text-transform: uppercase;

    &::after {
      content: '';
      position: absolute;
      right: -40px;
      top: 3px;
      width: 40px;
      height: 12px;

      background-image: url('data:image/svg+xml; utf8, <svg width="40" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M34.05 0l5.481 5.527h.008v.008L40 6l-.461.465v.063l-.062-.001L34.049 12l-.662-.668 4.765-4.805H0v-1h38.206l-4.82-4.86L34.05 0z" fill="%23000" fill-rule="nonzero"/></svg>');
    }

    &:hover,
    &:focus-visible {
      color: $Dark-Gray;
      border: none;
      outline: none;

      &::after {
        background-image: url('data:image/svg+xml; utf8, <svg width="40" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M34.05 0l5.481 5.527h.008v.008L40 6l-.461.465v.063l-.062-.001L34.049 12l-.662-.668 4.765-4.805H0v-1h38.206l-4.82-4.86L34.05 0z" fill="%23a1a1a1" fill-rule="nonzero"/></svg>');
      }
    }
  }
}

.slider {
  &_nav {
    width: 112px;
    height: 55px;

    display: flex;
    align-items: center;

    background-color: $Black;

    > * {
      flex-basis: 100%;
      height: 100%;
      border: none;
      padding: 0;
      background-color: transparent;

      cursor: pointer;

      &:hover,
      &:focus-visible {
        background-color: $Very-Dark-Gray;
      }

      img {
        margin-inline: auto;
        height: 15px;
        width: 10px;
      }
    }
  }
}

@include mq {
  .hero {
    &_text-content {
      place-self: center;
      margin: 0 2rem;
      margin-block: 0;
      max-width: 60ch;
    }
  }
  .slider {
    &_nav {
      height: 100%;
      width: 100%;

      > * {
        img {
          height: 30px;
          width: 15px;
        }
      }
    }
  }
}
